img{

	width:150px;
	height:200px;
}

.detail{

	float:left;
	padding:10px;

}

.clear{

	clear:both;
}


.revueWrite{

	padding:15px;
}

.revueImg{
		border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  60px;       /* ※縦横を同値に */
    height: 60px;       /* ※縦横を同値に */
    padding: 5px;
    margin:5px;
    border: 5px solid green;
}

.u{
	text-align:center;

}