.titleDiv{

	padding-left:15px;
}


.plan{
	margin-top:20px;
	margin-bottom:10px;
	text-align:center;
	font-size:large;
}



.tab-group{
	padding-inline-start:0px;
	margin-block-end:0px;
    display: flex;
    justify-content: start;

}
.tab{
	height:1em;
    flex-grow:1;
    padding-top:5px;
    padding-bottom:5px;
    list-style:none;
    border:solid 1px #CCC;
    text-align:center;
    cursor:pointer;
    border:solid 1px #000;

}
.panel-group{

    border:solid 1px #000;
    border-top:none;
    background:#eee;
    padding:5px;
}
.panel{
	display:none;

}
.tab.is-active{
    background:#eee;
    color:#F00;
    transition: all 0.2s ease-out;
    border-bottom:solid 1px #eee;
}
.panel.is-show{
    display:block;
    text-align:-webkit-center;
}


img.prof{

	border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  130px;       /* ※縦横を同値に */
    height: 130px;       /* ※縦横を同値に */
    padding: 5px;
    margin:5px;
    border: 5px solid green;
}

input.profBtn{

	margin-left:25px;
}

div.content_main{
	float:left;
	background-color:#7777ff;

}

div.content{

	display:flex;
	justify-content:center;

}

div.content_Btn{

	margin-left:20px;
}

div.contents{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}



.menuBtn{

	width:60px;
	height:60px;
	border-radius: 50%;
	background-color:#ccc;

}

.menuBtn:hover{

	cursor:pointer;
	background-color:#cccfff;
	color:#000;
}


textarea{

	margin:30px;
	resize:none;
}

.spilBtn{
	margin-top:50px;
	width:50px;
	height:50px;
	border-radius: 50%;
	border: 2px #a100ff solid;
	font-weight:bold;
	color:#ffffff;
	background-color:#b342f5;

}

.spilBtn:hover{

	background-color:#d99dfc;
	border: 2px #b342f5 solid;
	cursor:pointer;

}

.menus{
	margin:auto;
	display:flex;
	justify-content:space-evenly;
}


div.spilDiv{

	max-height:300px;
	overflow-x:hidden;

}


.spil_table{

	width:600px;
	height:120px;
	border-collapse: separate;
	margin-bottom:3px;
	background-color:#fff;

}

.spil_img{

	border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  60px;       /* ※縦横を同値に */
    height: 60px;       /* ※縦横を同値に */
    padding: 5px;
    margin:5px;
    border: 5px solid green;

}

.td1{

	width:25%;
	text-align:center;

}

.td2{
	border-bottom-style:none;
	padding-left:10px;
	padding-right:10px;

}

pre{

	white-space:pre-wrap;
}

.td3{
	border-top-width:2px;
	border-top-style:dotted;
	border-right-style:dotted;
}

.td4{
	border-top-width:2px;
	border-top-style:dotted;
	border-left-style:none;

}

.tr1{

	height:78%;
}


.deleteBtn{
	color:#ffffff;
	background-color:#0080ff;
	border-radius: 20px;
	padding: 2px 15px;
	margin-top:5px;
	margin-bottom:5px;
	border: 2px #0020ff solid;
	font-size:80%;
}

.deleteBtn:hover{
	border: 2px #0020ff solid;
	background-color:#00c0ff;
	cursor:pointer;

}


.item_img{
    width:  100px;       /* ※縦横を同値に */
    height: 150px;       /* ※縦横を同値に */
    margin:5px;
	margin-top:10px;

}

.readBtn{

	width:50px;
	height:50px;
	border-radius: 50%;
	background-color:#ff7777;
}

.readBtn:hover{

	cursor:pointer;
	background-color:#ffa777;
}


.pile_table{

	width:600px;
	height:120px;
	border-collapse: collapse;
	margin-top:5px;
	background-color:#fff;
}

.tdp{

	border-width:2px;
	border-style:groove;
	padding-left:10px;
}

.td1p{

	width:20%;
	text-align:center;
}


.td_r{

	padding:5px;
	padding-left:10px;
	padding-right:10px;
}